<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta name="description" content="IITM-PODCertification">

    
    <title>IITM-POD - Participation Certification</title>
    
    <link href="main.css" rel="stylesheet">
    
</head>
<body>
    
    <div class="main">
        <div class="group-1">
            <div class="title-1">Indian Institute of Techonology Madras</div> 
            <div class="title-2">BSc in Programming and Data Science<div>
        </div>
        <div class="group-2 ">
            <div class="title-1">CERTIFICATE</div> 
            <div class="title-2">OF PARTICIPATION<div>
        </div>
        <div class="group-3">
            PROUDLY PRESENTED TO
        </div>
        <div class="group-4">
            <div class="text">Jhon Doe</div>
        </div>
        <div class="group-5">
            <div class="text"></div>
        </div>
        <!--div class="group-6">
            <div class="text-1"><b>PRESIDENT</b></div>
            <div class="text-2">STUDENT EXECUTIVE COUNCIL</div>
        </div-->
        
    </div>
    

     
</body>
</html>